################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TalkBack
/TalkBack.Test/obj
/TalkBack.Test/bin/Debug/net8.0
/.vs/ProjectEvaluation
/TalkBack.Test/bin/Release/net8.0
.aider*
